* {
  @include box-sizing(border-box);
}
.logo-container {
  width: 20em;
  height: 20em;
  position: relative;
  @include transition-duration(2s);
  @include transition-property(transform, margin-left);
  margin-left: 0px;
  @include backface-visibility(display);
  &.flipped {
    margin-left: 300px;
    //@include rotateY(180deg);
    @include rotate(360deg);
  }
}

.outer-circle-white {
  border: 19px solid white;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  margin-top: -5%;
  margin-left: -5%;
  background-color:none;
  z-index: 5;
  position: absolute;
  
 /* background-color:black;*/
}
.outer-circle {
  border: 5px solid black;
  &.back {
    border: 5px solid green;
    @include rotateY(180deg);
  }
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 6;
  position: absolute;
 /* background-color:black;*/
}
.outer-circle .back {
  border: 5px solid green;
}
.inner-circle {
  border: 3px solid black;
  position: absolute;
  width: 5em;
  height: 5em;
  top: 7.5em;
  left: 7.5em;
  border-radius: 50%;
  background-color: black;
}
.middle-circle {
  position: absolute;
  border: 1em solid black;
  width: 10em;
  height: 10em;
  top: 5em;
  left: 5em;
  border-radius: 50%;
}
.black-cover {
  background-color:black;
  width: 5.2em;
  top: 11.75em;
  left: 7.3em;
  height: 8em;
  z-index: 1;
  position: absolute;
}
.right-white-small {
  height: 1.51em;
  width: 1.51em;
  border-radius: 50%;
  background-color: white;
  left: 12em;
  top: 10.98em;
  z-index: 2;
  position: absolute;
  //background-color: green;
}
.right-black-small {
  height: 1.8em;
  @include rotate(315deg);
  width: 1.5em;
  background-color: black;
  left: 11.6em;
  top: 11.5em;
  z-index: 1;
  position: absolute;
}
.left-white-small {
  height: 1.51em;
  width: 1.51em;
  border-radius: 50%;
  background-color: white;
  left: 6.5em;
  top: 10.95em;
  z-index: 2;
  position: absolute;
}
.left-black-small {
  height: 1.8em;
  @include rotate(45deg);
  width: 1.5em;
  background-color: black;
  left: 6.8em;
  top: 11.4em;
  z-index: 1;
  position: absolute;
}
.right-white-large {
  height: 4.7em;
  width: 4.7em;
  border-radius: 50%;
  background-color: white;
  left: 12.95em;
  top: 12.73em;
  z-index: 2;
  position: absolute;
}


.right-black-large {
  height: 5.2em;
  @include rotate(315deg);
  width: 4.8em;
  background-color: black;
  left: 11em;
  top: 14.3em;
  z-index: 1;
  position: absolute;
}

.left-white-large {
  height: 4.7em;
  width: 4.7em;
  border-radius: 50%;
  background-color: white;
  left: 2.45em;
  top: 12.85em;
  z-index: 2;
  position: absolute;
}

.left-black-large {
  height: 4.85em;
  @include rotate(45deg);
  width: 4.85em;
  background-color: black;
  left: 4.18em;
  top: 14.5em;
  z-index: 1;
  position: absolute;
}
